Data sets:

Espectativa de vida:
 Columnas importantes: Pais , continente , evaluar la espectativa de vida en funcion a tipo de pais

 Reporte de la Felicidad mundial: 
 Columnas importantes: pais , region , espectativa de vida. Evaluar la felicidad de la poblacion en funcion a la libertad y en que region del mundo se ubica.

 Data set olimpico:
 Columnas importantes: sexo , edad , pais. Evaluar las posibilidades de ganar una medalla en funcion a variables como lo pueden ser el pais o el sexo.

 Dat set conversaciones:
 Columnas importantes: Cantidad de mensajes , tiempo de respuesta , origen de la conversacion. Me gustaria predecir la posibilidad de tener un indicador con el que pueda evaluar cual seria el tiempo de respuesta ideal para poder disminuir la cantidad de mensajes y efectuar una venta. Este dato esta extraido de un CRM de ventas.

In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('Human_life_Expectancy.csv',sep=',')
print(df.head())
print(df.info())

       Country Country_Code        Level  \
0  Afghanistan          AFG     National
1  Afghanistan          AFG  subnational
2  Afghanistan          AFG  subnational
3  Afghanistan          AFG  subnational
4  Afghanistan          AFG  subnational

                                              Region   1990   1991   1992  \
0                                              Total   50.3   51.0   51.6
1  Central (Kabul Wardak Kapisa Logar Parwan Panj...   51.4  52.12  52.73
2                Central Highlands (Bamyan Daikundi)  48.59  49.26  49.84
3           East (Nangarhar Kunar Laghman Nooristan)  54.11  54.86   55.5
4    North (Samangan Sar-e-Pul Balkh Jawzjan Faryab)  48.57  49.24  49.82

    1993   1994   1995  ...   2010   2011   2012   2013   2014   2015   2016  \
0   52.3   52.8   53.4  ...   61.0   61.6   62.1   62.5   63.0   63.4   63.8
1  53.45  53.96  54.57  ...  62.34  63.06  63.67  64.18   64.8   65.3  65.72
2  50.52   51.0  51.58  ...  58.92  60.04  61.06  61.96  62.96  63.84  64.25
3  56.26   56.8  57.44  ...  65.62  65.16  64.61  63.98  63.47  62.88  63.27
4   50.5  50.98  51.56  ...   58.9  59.69  60.38  60.97  61.65  62.24  62.63

    2017   2018   2019
0   64.1   64.5   64.8
1  66.02  66.44  66.75
2  64.55  64.95  65.25
3  63.57  63.97  64.27
4  62.92  63.31  63.61

[5 rows x 34 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 34 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       1969 non-null   object
 1   Country_Code  1969 non-null   object
 2   Level         1969 non-null   object
 3   Region        1969 non-null   object
 4   1990          1969 non-null   object
 5   1991          1969 non-null   object
 6   1992          1969 non-null   object
 7   1993          1969 non-null   object
 8   1994          1969 non-null   object
 9   1995          1969 non-null   object
 10  1996          1969 non-null   object
 11  1997          1969 non-null   object
 12  1998          1969 non-null   object
 13  1999          1969 non-null   object
 14  2000          1969 non-null   object
 15  2001          1969 non-null   object
 16  2002          1969 non-null   object
 17  2003          1969 non-null   object
 18  2004          1969 non-null   object
 19  2005          1969 non-null   object
 20  2006          1969 non-null   object
 21  2007          1969 non-null   object
 22  2008          1969 non-null   object
 23  2009          1969 non-null   object
 24  2010          1969 non-null   object
 25  2011          1969 non-null   object
 26  2012          1969 non-null   object
 27  2013          1969 non-null   object
 28  2014          1969 non-null   object
 29  2015          1969 non-null   object
 30  2016          1969 non-null   object
 31  2017          1969 non-null   object
 32  2018          1969 non-null   object
 33  2019          1969 non-null   object
dtypes: object(34)
memory usage: 523.1+ KB
None

In [19]:
df = pd.read_csv('World Happiness Report 2005-2021.csv',sep=',')
print(df.head())
print(df.info())

  Country name  Year  Life Ladder  Log GDP per capita  Social support  \
0  Afghanistan  2008     3.723590            7.302574        0.450662
1  Afghanistan  2009     4.401778            7.472446        0.552308
2  Afghanistan  2010     4.758381            7.579183        0.539075
3  Afghanistan  2011     3.831719            7.552006        0.521104
4  Afghanistan  2012     3.782938            7.637953        0.520637

   Healthy life expectancy at birth  Freedom to make life choices  Generosity  \
0                         50.500000                      0.718114    0.173169
1                         50.799999                      0.678896    0.195469
2                         51.099998                      0.600127    0.125859
3                         51.400002                      0.495901    0.167723
4                         51.700001                      0.530935    0.241247

   Perceptions of corruption  Positive affect  Negative affect  \
0                   0.881686         0.414297         0.258195
1                   0.850035         0.481421         0.237092
2                   0.706766         0.516907         0.275324
3                   0.731109         0.479835         0.267175
4                   0.775620         0.613513         0.267919

   Confidence in national government
0                           0.612072
1                           0.611545
2                           0.299357
3                           0.307386
4                           0.435440
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2089 entries, 0 to 2088
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country name                       2089 non-null   object
 1   Year                               2089 non-null   int64
 2   Life Ladder                        2089 non-null   float64
 3   Log GDP per capita                 2062 non-null   float64
 4   Social support                     2076 non-null   float64
 5   Healthy life expectancy at birth   2031 non-null   float64
 6   Freedom to make life choices       2057 non-null   float64
 7   Generosity                         2009 non-null   float64
 8   Perceptions of corruption          1976 non-null   float64
 9   Positive affect                    2065 non-null   float64
 10  Negative affect                    2073 non-null   float64
 11  Confidence in national government  1873 non-null   float64
dtypes: float64(10), int64(1), object(1)
memory usage: 196.0+ KB
None

In [20]:
df = pd.read_csv('dataset_olympics.csv',sep=',')
print(df.head())
print(df.info())

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      70000 non-null  int64
 1   Name    70000 non-null  object
 2   Sex     70000 non-null  object
 3   Age     67268 non-null  float64
 4   Height  53746 non-null  float64
 5   Weight  52899 non-null  float64
 6   Team    70000 non-null  object
 7   NOC     70000 non-null  object
 8   Games   70000 non-null  object
 9   Year    70000 non-null  int64
 10  Season  70000 non-null  object
 11  City    70000 non-null  object
 12  Sport   70000 non-null  object
 13  Event   70000 non-null  object
 14  Medal   9690 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 8.0+ MB
None